
<% if @cart.line_items.any? && @cart.status.nil? %>
<Table><th>Item</th><th>Quantity</th><th>Unit Price</th><th>Total Price</th><th></th>
<% @cart.line_items.each do |line_item| %>
  <tr>
    <td><%= line_item.item.title %></td>
    <td class="qty">Quantity: <%= line_item.quantity %></td>
    <td class="price"><%= number_to_currency(line_item.item.price/100) %></td>
    <td class="price"><%= number_to_currency(line_item.item.price/100 * line_item.quantity) %></td>
    <td><%= link_to "Delete", line_item_path(line_item), :data => {:confirm => "You sure?", :method => "delete"} %></td>
  </tr>
<% end %>
</table>
<p class="total price">
  Total: <%= number_to_currency current_cart.total_price %></td>
</p>
<p>
  <%= button_to 'Checkout', checkout_path(@cart) %>
</p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
